<html>
<head>
  <style>
    .elp_100{
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .elp_200{
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .elp_400{
      width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .thead{
      text-align: left;
    }
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
</head>


<body>
  <h1>Activities</h1>

  <div>
    <table class="table table-bordered table-striped">
      <thead class="thead">
        <tr>
          <th>Event Name</th>
          <th>Description</th>
          <th>Organizer</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr>
            <td><div class='elp_200'><a href={{item[3]}}>{{item[0]}}</div></td>
            <td><div class='elp_400'>{{item[1]}}</div></td>
            <td><div class='elp_100'>{{item[2]}}</div></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

{% if not login %}
<p><form action="/login" method="get"><input type="submit" value="Log In"></p>
{% else %}
<p><a href="/addevent">Add an Event</a></p>
<p><form action="/logout" method="post"><input type="submit" value="Log Out"></p>
{% endif %}

</body>

</html>
